@charset "utf-8";
/* CSS Document */

.logo { padding-top:9px; padding-bottom:4px; }

section#rightside { width:620px; float:right; position:relative; margin-top:20px;}


section#rightside .promenu {  overflow:hidden; width:850px;}
section#rightside .promenu li { float:left; margin-right:10px; margin-bottom:10px; display:inline;}
section#rightside .promenu li.m1 a {  }
section#rightside .promenu li.m1 a:hover { background-position:left bottom;}
section#rightside .promenu li.m1 a.current { background-position:left bottom;}
section#rightside .promenu li.m2 a {  }
section#rightside .promenu li.m2 a:hover { background-position:left bottom;}
section#rightside .promenu li.m2 a.current { background-position:left bottom;}
section#rightside .promenu li.m3 a {  }
section#rightside .promenu li.m3 a:hover { background-position:left bottom;}
section#rightside .promenu li.m3 a.current { background-position:left bottom;}

section#rightside .promenu li ul li { margin:0; display:block; float:none;}
section#rightside .promenu li ul li a { color:#ffffff;}
section#rightside .promenu li ul li a:hover { color:#404040;}
section#rightside .promenu li a { text-align:center; padding-top:90px; color:#ffffff;}
section#rightside .promenu li a:hover { text-align:center; padding-top:90px; color:#404040;}
section#rightside .promenu li a.current { color:#404040;}




section#rightside .aboutmenu {  overflow:hidden; width:850px;}
section#rightside .aboutmenu li { float:left; margin-right:10px; margin-bottom:10px; display:inline;}
section#rightside .aboutmenu li.m1 a { }
section#rightside .aboutmenu li.m1 a:hover { background-position:left bottom;}
section#rightside .aboutmenu li.m1 a.current { background-position:left bottom;}
section#rightside .aboutmenu li.m2 a {  }
section#rightside .aboutmenu li.m2 a:hover { background-position:left bottom;}
section#rightside .aboutmenu li.m2 a.current { background-position:left bottom;}
section#rightside .aboutmenu li.m3 a { }
section#rightside .aboutmenu li.m3 a:hover { background-position:left bottom;}
section#rightside .aboutmenu li.m3 a.current { background-position:left bottom;}
section#rightside .aboutmenu li.m4 a {  }
section#rightside .aboutmenu li.m4 a:hover { background-position:left bottom;}
section#rightside .aboutmenu li.m4 a.current { background-position:left bottom;}
section#rightside .aboutmenu li.m5 a {  }
section#rightside .aboutmenu li.m5 a:hover { background-position:left bottom;}
section#rightside .aboutmenu li.m5 a.current { background-position:left bottom;}
/*section#rightside .aboutmenu li.m6 a { width:414px; height:30px; display:block; background:url(/images/about/about_m6.jpg) no-repeat; }*/
section#rightside .aboutmenu li.m6 a:hover { background-position:left bottom;}
section#rightside .aboutmenu li.m6 a.current { background-position:left bottom;}
section#rightside .aboutmenu li ul li { margin:0; display:block; float:none;}
section#rightside .aboutmenu li ul li a { color:#ffffff;}
section#rightside .aboutmenu li ul li a:hover { color:#ea5406;}
section#rightside .aboutmenu li a { text-align:center; padding-top:90px; color:#ffffff}
section#rightside .aboutmenu li a:hover { text-align:center; padding-top:90px; color:#808080;}
section#rightside .aboutmenu li a.current { color:#808080;}


section#rightside .solvemenu {  overflow:hidden; width:640px;}
section#rightside .solvemenu li { float:left; margin-right:8px; margin-bottom:10px; display:inline;}
section#rightside .solvemenu li.m1 a { }
section#rightside .solvemenu li.m1 a:hover { background-position:left bottom;}
section#rightside .solvemenu li.m1 a.current { background-position:left bottom;}
section#rightside .solvemenu li.m2 a {  }
section#rightside .solvemenu li.m2 a:hover { background-position:left bottom;}
section#rightside .solvemenu li.m2 a.current { background-position:left bottom;}
section#rightside .solvemenu li.m3 a { }
section#rightside .solvemenu li.m3 a:hover { background-position:left bottom;}
section#rightside .solvemenu li.m3 a.current { background-position:left bottom;}
section#rightside .solvemenu li.m4 a {  }
section#rightside .solvemenu li.m4 a:hover { background-position:left bottom;}
section#rightside .solvemenu li.m4 a.current { background-position:left bottom;}
section#rightside .solvemenu li.m5 a {  }
section#rightside .solvemenu li.m5 a:hover { background-position:left bottom;}
section#rightside .solvemenu li.m5 a.current { background-position:left bottom;}
/*section#rightside .solvemenu li.m6 a { width:414px; height:30px; display:block; background:url(/images/about/about_m6.jpg) no-repeat; }*/
section#rightside .solvemenu li.m6 a:hover { background-position:left bottom;}
section#rightside .solvemenu li.m6 a.current { background-position:left bottom;}
section#rightside .solvemenu li ul li { margin:0; display:block; float:none;}
section#rightside .solvemenu li ul li a { color:#808080;}
section#rightside .solvemenu li ul li a:hover { color:#ea5406;}
section#rightside .solvemenu li a { text-align:center; padding-top:57px;color:#ffffff;}
section#rightside .solvemenu li a:hover { text-align:center; padding-top:57px; color:#808080;}
section#rightside .solvemenu li a.current { color:#808080;}



section#rightside .techmenu {  overflow:hidden; width:850px;}
section#rightside .techmenu li { float:left; margin-right:10px; margin-bottom:10px; display:inline;}
section#rightside .techmenu li.m1 a { }
section#rightside .techmenu li.m1 a:hover { background-position:left bottom;}
section#rightside .techmenu li.m1 a.current { background-position:left bottom;}
section#rightside .techmenu li.m2 a {  }
section#rightside .techmenu li.m2 a:hover { background-position:left bottom;}
section#rightside .techmenu li.m2 a.current { background-position:left bottom;}
section#rightside .techmenu li.m3 a { }
section#rightside .techmenu li.m3 a:hover { background-position:left bottom;}
section#rightside .techmenu li.m3 a.current { background-position:left bottom;}
section#rightside .techmenu li.m4 a {  }
section#rightside .techmenu li.m4 a:hover { background-position:left bottom;}
section#rightside .techmenu li.m4 a.current { background-position:left bottom;}
section#rightside .techmenu li.m5 a {  }
section#rightside .techmenu li.m5 a:hover { background-position:left bottom;}
section#rightside .techmenu li.m5 a.current { background-position:left bottom;}
/*section#rightside .techmenu li.m6 a { width:414px; height:30px; display:block; background:url(/images/about/about_m6.jpg) no-repeat; }*/
section#rightside .techmenu li.m6 a:hover { background-position:left bottom;}
section#rightside .techmenu li.m6 a.current { background-position:left bottom;}
section#rightside .techmenu li ul li { margin:0; display:block; float:none;}
section#rightside .techmenu li ul li a { color:#808080;}
section#rightside .techmenu li ul li a:hover { color:#ea5406;}
section#rightside .techmenu li a { text-align:center; padding-top:90px;color:#ffffff;}
section#rightside .techmenu li a:hover { text-align:center; padding-top:90px; color:#808080;}
section#rightside .techmenu li a.current { color:#808080;}

/*业务介绍*/
section#rightside .businessmenu {  overflow:hidden; width:850px;}
section#rightside .businessmenu li { float:left; margin-right:10px; margin-bottom:10px; display:inline;}
section#rightside .businessmenu li.m1 a { }
section#rightside .businessmenu li.m1 a:hover { background-position:left bottom;}
section#rightside .businessmenu li.m1 a.current { background-position:left bottom;}
section#rightside .businessmenu li.m2 a {  }
section#rightside .businessmenu li.m2 a:hover { background-position:left bottom;}
section#rightside .businessmenu li.m2 a.current { background-position:left bottom;}
section#rightside .businessmenu li ul li { margin:0; display:block; float:none;}
section#rightside .businessmenu li ul li a { color:#808080;}
section#rightside .businessmenu li ul li a:hover { color:#ea5406;}
section#rightside .businessmenu li a { text-align:center; padding-top:90px;color:#ffffff;}
section#rightside .businessmenu li a:hover { text-align:center; padding-top:90px; color:#808080;}
section#rightside .businessmenu li a.current { color:#808080;}


section#box { width:630px; margin-top:30px; overflow:hidden;}
section#box .grid {  background-color:#ffffff; padding:30px 20px;}
section#box .grid1 {  background-color:#ffffff; padding:30px 20px;}
section#box .grid h1 { border-left:6px solid #ea5406; padding-left:4px; height:14px; line-height:14px; overflow:hidden; color:#404040; position:relative; margin-bottom:15px; }
section#box .grid1 h1 { border-left:6px solid #ea5406; padding-left:4px; height:14px; line-height:14px; overflow:hidden; color:#404040; position:relative; margin-bottom:15px; }
section#box .grid h1 span.title { position:absolute; background-color:#ffffff; left:3px; padding-right:3px; z-index:99; top:0px;}
section#box .grid h1 span.bg {  height:14px; background:url(/images/about/line_bg.jpg) repeat-x; display:inline-block; position:absolute; right:0; top:0;}
section#box .grid1 h1 span.title { position:absolute; background-color:#ffffff; left:3px; padding-right:3px; z-index:99; top:-1px;}
section#box .grid1 h1 span.bg {  height:14px; background:url(/images/about/line_bg.jpg) repeat-x; display:inline-block; position:absolute; right:0;}
section#box .grid h1 p { position:absolute; background-color:#ffffff; right:0; padding-left:5px; z-index:99; top:0; line-height:13px; text-indent:0;}
section#box .grid p { text-indent:2em; color:#808080; line-height:24px;}
section#box .video { width:395px; float:left; margin-left:10px; display:inline;}
section#box .video span.title { width:395px; height:35px; line-height:35px; text-align:center; background-color:#404040; color:#ffffff; display:inline-block;}

section#box section.list { width:375px;  background-color:#ffffff; padding:30px 20px; float:left; color:#808080;}
section#box section.list p.title { position:relative; width:375px; height:230px; overflow:hidden;}
section#box section.list p span { position:absolute; bottom:0; width:395px; height:35px; line-height:35px; text-align:center; display:inline-block; left:0;}
section#box section.list article { margin-top:10px; line-height:25px; text-indent:2em;}
section#box .leader_list { width:860px;}
section#box .leader_list li{ float:left; padding:10px; margin-right:10px; display:inline; background-color:#ffffff; margin-bottom:10px; position:relative;}
section#box .leader_list li span.bg { height:35px; position:absolute; bottom:0; background-color:#000000; filter:alpha(opacity=50); opacity:0.5; left:0; width:100%; text-align:center; line-height:35px; color:#ffffff; font-size:14px;}
section#box .leader_list li span.title { height:35px; position:absolute; bottom:0;  left:0; width:100%; text-align:center; line-height:35px; color:#ffffff; font-size:14px;}
section#box .leader_list li div { position:relative;}
section#box .leader_list li p { margin-top:5px;}

section#box .brand_list { width:860px;}
section#box .brand_list li  { float:left; padding:10px; margin-right:10px; display:inline; background-color:#ffffff; margin-top:10px; position:relative; cursor:pointer;  }
section#box .brand_list li div {width:254px; height:206px; overflow:hidden; position:relative;}
section#box .brand_list li span.bg { height:35px; position:absolute; bottom:0; background-color:#000000; filter:alpha(opacity=50); opacity:0.5; left:0; width:100%; text-align:center; line-height:35px; color:#ffffff; font-size:14px;}
section#box .brand_list li span.title { height:35px; position:absolute; bottom:0;  left:0; width:100%; text-align:center; line-height:35px; color:#ffffff; font-size:14px;}

section#box article { background-color:#ffffff;}
section#box article header h1 { height:48px; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; padding-top:26px; text-align:center; color:#000000;}
section#box article header p { height:40px; border-bottom:1px solid #cdcdcd; line-height:40px; padding:0 20px;}
section#box article header time { margin-left:20px; display:inline;}
section#box article header span.fsize { margin-left:10px; cursor:pointer;}
section#box article header span.current { color:#ea5406;}
section#box article#content { padding:15px; color:#595959; font-size:13px;}
section#box article#content p {  line-height:24px; margin-bottom:15px;}
section#box article#content img { width:100%; margin-bottom:15px;}
section#box article section.back a{ padding:30px 66px 15px 15px; text-align:right; background:url(/images/btn8.png) no-repeat right 15px; width:154px; height:50px; display:block; font-size:22px; color:#000000; width:100px; margin-left:640px; color:#000000;  }

section#msg .grid {  background-color:#ffffff; padding:20px 30px 0;}
section#msg .grid h1 { border-left:6px solid #ea5406; padding-left:4px; height:13px; line-height:13px; overflow:hidden; color:#404040; position:relative; margin-bottom:15px; }
section#msg .grid h1 span.title { position:absolute; background-color:#ffffff; left:3px; padding-right:3px; z-index:99;}
section#msg .grid h1 span.bg {  height:13px; background:url(/images/about/line_bg.jpg) repeat-x; display:inline-block; position:absolute; right:0;}
section#msg .grid p { text-indent:2em; line-height:24px; color:#4c4c4c;}

section.organ { width:840px;  background-color:#f8f9ff;  padding-top:37px; padding-bottom:32px;}
section.organ ul { margin-top:74px; color:#8998a0;}
section.organ ul li { width:75px; height:66px; float:left; margin-right:9px; display:inline; padding-top:37px; text-align:center;}
section.organ ul li p { text-indent:0em;}

section.organ1 { width:794px; padding-bottom:20px; background:url(/images/solve/organ_bg1.jpg) center 62px no-repeat #ffffff; padding-left:46px; padding-top:37px; }
section.organ1 ul { margin-top:74px; color:#8998a0; padding-left:27px;}
section.organ1 ul li { width:132px; height:66px; float:left; margin-right:8px; display:inline; padding-top:50px; text-align:center; }
section.organ1 ul li p { text-indent:0em;}


section.feature { color:#404040;}
section.feature ul { width:850px;}
section.feature ul li { width:131px; height:130px; background-color:#ffffff; float:left; margin-right:10px; display:inline; margin-bottom:10px;}
section.feature ul li p.pic { width:131px; height:89px; border-bottom:1px solid #e9f1f5;}
section.feature ul li p.title { width:131px; height:40px; line-height:40px; text-align:center;}


.laycontent { display:none;}
.cityxq { width:850px;}
.cityxq li { padding:100px 20px; float:left;  margin-right:10px; display:inline; width:162px; height:133px; overflow:hidden;}
.cityxq li h2 { color:#404040;}
.cityxq li.l1 { background:url(/images/solve/pic_city1_solve.jpg) center top no-repeat #ffffff;}
.cityxq li.l2 { background:url(/images/solve/pic_city2_solve.jpg) center top no-repeat #ffffff;}
.cityxq li.l3 { background:url(/images/solve/pic_city3_solve.jpg) center top no-repeat #ffffff;}
.cityxq li.l4{ background:url(/images/solve/pic_city4_solve.jpg) center top no-repeat #ffffff;}
.cityxq li p { margin-top:20px; color:#808080;}


.safexq { width:850px;}
.safexq li { padding:100px 20px; float:left;  margin-right:10px; display:inline; width:162px; height:133px; overflow:hidden;}
.safexq li h2 { color:#404040;}
.safexq li.l1 { background:url(/images/safe/pic_dt1_safe.jpg) center top no-repeat #ffffff;}
.safexq li.l2 { background:url(/images/safe/pic_dt2_safe.jpg) center top no-repeat #ffffff;}
.safexq li.l3 { background:url(/images/safe/pic_dt3_safe.jpg) center top no-repeat #ffffff;}
.safexq li.l4{ background:url(/images/safe/pic_dt4_safe.jpg) center top no-repeat #ffffff;}
.safexq li.l5 { background:url(/images/solve/pic_dt1_solve.jpg) center top no-repeat #ffffff;}
.safexq li.l6 { background:url(/images/solve/pic_dt2_solve.jpg) center top no-repeat #ffffff;}
.safexq li.l7 { background:url(/images/solve/pic_dt3_solve.jpg) center top no-repeat #ffffff;}
.safexq li.l8{ background:url(/images/solve/pic_dt4_solve.jpg) center top no-repeat #ffffff;}
.safexq li p { margin-top:20px; color:#808080;}

.highwayxq { width:850px;}
.highwayxq li { padding:100px 20px; float:left;  margin-right:10px; display:inline; width:162px; height:192px; overflow:hidden; margin-bottom:10px;}
.highwayxq li h2 { color:#404040;}
.highwayxq li.l1 { background:url(/images/solve/pic_hw1_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l2 { background:url(/images/solve/pic_hw2_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l3 { background:url(/images/solve/pic_hw3_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l4{ background:url(/images/solve/pic_hw4_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l5 { background:url(/images/solve/pic_hw5_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l6 { background:url(/images/solve/pic_hw6_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l7 { background:url(/images/solve/pic_hw7_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li.l8{ background:url(/images/solve/pic_hw8_solve.jpg) center top no-repeat #ffffff;}
.highwayxq li p { margin-top:20px; color:#808080;}

.trafficxq { width:850px; margin-top:10px;}
.trafficxq li { padding:100px 20px; float:left;  margin-right:10px; display:inline; width:162px; height:72px; overflow:hidden; margin-bottom:10px;}
.trafficxq li h2 { color:#404040;}
.trafficxq li.l1 { background:url(/images/solve/pic_traffic1_solve.jpg) center top no-repeat #ffffff;}
.trafficxq li.l2 { background:url(/images/solve/pic_traffic2_solve.jpg) center top no-repeat #ffffff;}
.trafficxq li.l3 { background:url(/images/solve/pic_traffic3_solve.jpg) center top no-repeat #ffffff;}
.trafficxq li.l4{ background:url(/images/solve/pic_traffic4_solve.jpg) center top no-repeat #ffffff;}
.trafficxq li.l5{ background:url(/images/solve/pic_traffic5_solve.jpg) center top no-repeat #ffffff;}

.trafficxq li p { margin-top:20px; color:#808080;}




section#box .business_list { width:860px;}
section#box .business_list li{ float:left; padding:10px; margin-right:10px; display:inline; background-color:#ffffff; margin-top:10px; position:relative; width:255px; height:323px;}
section#box .business_list li span { height:35px; position:absolute; bottom:0; background-color:#000000; filter:alpha(opacity=70); opacity:0.7; left:0; width:100%; text-align:center; line-height:35px; color:#ffffff; font-size:14px;}
section#box .business_list li div { position:relative;}
section#box .business_list li p { margin-top:5px;}


.company { width:680px;}
.company li { margin-right:36px; display:inline; width:60px; text-align:center; float:left;}

.business p { margin-bottom:30px;}
#pro_box.pro_c { width:630px;  margin:0 auto; background-color:#ffffff; }

.pro_menu dl { width:840px; }
.pro_menu dl dt { background:url(../images/btn_down.png) 20px center no-repeat #ffffff; _background:url(../images/btn_down.jpg) 20px center no-repeat #ffffff; line-height:60px; padding:0 0 0 65px; width:775px; cursor:pointer; border-bottom:1px solid #DCDCDC; }
.pro_menu dl dt.current { background:url(../images/btn_up.png) 20px center no-repeat #ffffff;_background:url(../images/btn_up.jpg) 20px center no-repeat #ffffff; }
.pro_menu dl dd { padding:20px 20px;  display:none;border-bottom:1px solid #DCDCDC;  }
.pro_menu dl dd h2 { padding-left:25px; font-weight:bold; margin-top:10px; }
.pro_menu dl dd p { margin-top:15px; line-height:22px; text-indent:2em; }
.pro_menu dl dd ul {  }
.pro_menu dl.pro_dl dd ul li { background:url(/images/pro/coin.png) left 9px no-repeat; margin-bottom:11px; padding-left:25px;}
.pro_menu dl.pro_dl dd table { margin:10px; }
.pro_biao { width:800px; margin:0 auto; }
.pro_biao ul {}
.pro_biao ul li { width:152px; margin-right:10px; display:inline; float:left; }
.pro_biao ul li h1.title { width:152px; height:40px; background-color:#9fa0a0; text-align:center; line-height:40px; }
.pro_biao .cslist { float:left; width:638px; margin-top:15px; }
.pro_biao .cslist .jr { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; width:620px;}
.pro_biao .cslist .twoheight {height:34px; padding-top:10px;}
.pro_biao ul li .zb { margin-top:15px; }
.pro_biao ul li .zb p { background-color:#eeefef; padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; line-height:22px; margin-top:0; text-indent:0; }
.pro_biao ul li .cs { }
.pro_biao ul li .cs p { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; margin-top:0; text-indent:0;}
#pro_biao { width:800px; margin:0 auto; }
#pro_biao ul li { width:180px; margin-right:10px; display:inline; float:left; background:none; margin-bottom:0; padding-left:0; }
#pro_biao ul li h1.title { width:180px; height:40px; background-color:#9fa0a0; text-align:center; line-height:40px; }
#pro_biao .cslist { float:left; width:600px; margin-top:15px; }
#pro_biao .cslist .twoheight {height:34px; padding-top:10px;}
#pro_biao .cslist .jr { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; width:582px; }
#pro_biao ul { margin-top:0; }
#pro_biao ul li .zb { margin-top:15px; }
#pro_biao ul li .zb p { background-color:#eeefef; padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; margin-top:0; text-indent:0; }
#pro_biao ul li .zb p.twoheight {height:34px; padding-top:10px;}
#pro_biao ul li .zb p.threeheight {height:43px; padding-top:23px;}
#pro_biao ul li .cs { }
#pro_biao ul li .cs p { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; margin-top:0; text-indent:0; }
#pro_list { position:relative; width:600px; left:0; }
#pro_list ul { width:810px;  float:left; overflow:hidden; }
#pro_list ul li { width:395px; height:120px; float:left; margin-right:10px; margin-bottom:10px; background-color:#f7f7f7;}
#pro_list ul li a { color:#6A6A6A; }
#pro_list ul li a.current { color:#ffffff; }
#pro_list ul li a.current div.info { background-color:#67C5F3;}
#pro_list ul li a.current div.info h1{ color:#ffffff; }
#pro_list ul li div.info { width:253px; float:right; height:104px; background:url(/images/pro/xq_coin.png) 240px 44px no-repeat; padding-left:18px; padding-top:16px; position:relative; overflow:hidden;}
#pro_list ul li a.current div.info { width:253px; float:right; height:104px; background:url(/images/pro/xq_coin_hover.png) 300px center no-repeat #67C5F3; padding-left:18px; padding-top:16px; position:relative; }
#pro_list ul li div.info h1 { color:#0b9be4; font-size:20px }
#pro_list ul li div.info h2 { width:220px; line-height:18px; margin:0; padding:0; font-weight:normal; font-size:20px }
#pro_list ul li div.info p.dd { background:url(/images/pro/dd_coin.jpg) left center no-repeat; padding-left:10px; margin-top:20px; position:absolute; bottom:20px; text-indent:0; }
#pro_list ul li div.info p { line-height:18px; position:absolute; bottom:5px; text-indent:0; }



#pro_list2 { position:relative; width:970px; left:0; }
#pro_list2 ul { width:810px;  float:left; overflow:hidden; }
#pro_list2 ul li { width:395px; height:120px; float:left; margin-right:10px; margin-bottom:10px; background-color:#f7f7f7;}
#pro_list2 ul li a { color:#6A6A6A; }
#pro_list2 ul li a.current { color:#ffffff; }
#pro_list2 ul li a.current div.info { background-color:#67C5F3;}
#pro_list2 ul li a.current div.info h1{ color:#ffffff; }
#pro_list2 ul li div.info { width:253px; float:right; height:104px; background:url(/images/pro/xq_coin.png) 240px 44px no-repeat; padding-left:18px; padding-top:16px; position:relative; overflow:hidden;}
#pro_list2 ul li a.current div.info { width:253px; float:right; height:104px; background:url(/images/pro/xq_coin_hover.png) 300px center no-repeat #67C5F3; padding-left:18px; padding-top:16px; position:relative; }
#pro_list2 ul li div.info h1 { color:#0b9be4; }
#pro_list2 ul li div.info h2 { width:220px; line-height:18px; margin:0; padding:0; font-weight:normal;}
#pro_list2 ul li div.info p.dd { background:url(/images/pro/dd_coin.jpg) left center no-repeat; padding-left:10px; margin-top:20px; position:absolute; bottom:20px; text-indent:0; }
#pro_list2 ul li div.info p { line-height:18px; position:absolute; bottom:5px; text-indent:0; }


#pro_list3 { position:relative; width:970px; left:0; }
#pro_list3 ul { width:810px;  float:left; overflow:hidden; }
#pro_list3 ul li { width:395px; height:120px; float:left; margin-right:10px; margin-bottom:10px; background-color:#f7f7f7;}
#pro_list3 ul li a { color:#6A6A6A; }
#pro_list3 ul li a.current { color:#ffffff; }
#pro_list3 ul li a.current div.info { background-color:#67C5F3;}
#pro_list3 ul li a.current div.info h1{ color:#ffffff; }
#pro_list3 ul li div.info { width:253px; float:right; height:104px; background:url(/images/pro/xq_coin.png) 240px 44px no-repeat; padding-left:18px; padding-top:16px; position:relative; overflow:hidden;}
#pro_list3 ul li a.current div.info { width:253px; float:right; height:104px; background:url(/images/pro/xq_coin_hover.png) 300px center no-repeat #67C5F3; padding-left:18px; padding-top:16px; position:relative; }
#pro_list3 ul li div.info h1 { color:#0b9be4; }
#pro_list3 ul li div.info h2 { width:220px; line-height:18px; margin:0; padding:0; font-weight:normal;}
#pro_list3 ul li div.info p.dd { background:url(/images/pro/dd_coin.jpg) left center no-repeat; padding-left:10px; margin-top:20px; position:absolute; bottom:20px; text-indent:0; }
#pro_list3 ul li div.info p { line-height:18px; position:absolute; bottom:5px; text-indent:0; }





#tdlist { position:relative; width:820px; }
#tdlist ul li { width:120px; height:120px;  margin-right:16px; display:inline; margin-bottom:20px; cursor:pointer; float:left; }
#pro_hidden { width:810px; overflow:hidden; position:relative; }
#tdhidde { width:840px; overflow:hidden; position:relative; }
.pro_content { width:1024px; height:1047px; border-top:3px solid #57c1f3; margin:0 auto; }
.pro_content .bread { height:85px; background-color:#67c5f3; width:960px; line-height:85px; padding:0 32px; }
.pro_content .bread span.title { }
.pro_content .bread span.back { background:url(/images/back.png) right center no-repeat; }
.pro_content .bread span.back a { width:146px; height:83px; display:block; }
.pro_content .about { height:60px; line-height:60px; width:960px; margin:0 auto; background-color:#ffffff; padding:0 32px; }
.pro_content .about span.xh { background:url(/images/pro/xh_coin.jpg) left center no-repeat; padding-left:15px; }
.pro_content .about span.info { background:url(/images/pro/dd_coin.jpg) left center no-repeat; padding-left:10px; margin-left:22px; }
.pro_content .about span.back { background:url(/images/pro/btn_back.png) right center no-repeat;  }
.pro_content .about span.back a { width:80px; height:60px; display:block;}
.pro_content .video { padding:20px 32px 12px 32px; background-color:#f4f4f4; }
.pro_content .video .video_c { width:920px; height:870px; background-color:#ffffff; padding:0 20px; }
.pro_content .video .video_c ul.menu li { width:100px; height:47px; background:url(/images/pro/tab_menu.png) right center no-repeat; float:left; margin-right:10px; display:inline; padding-left:56px; line-height:47px; color:#494949; cursor:pointer; }
.pro_content .video .video_c ul.menu li.current { background:url(/images/pro/tab_menu.png) left center no-repeat; color:#ffffff; }
.pro_content .video .video_c .content { width:920px; height:792px; margin-top:10px; overflow:hidden; }
.pro_content .video .video_c .content .laycontent { display:none; }
.pro_content .video .video_c .content .laycontent .title { width:920px; height:35px; background-color:#eeefef; margin-top:25px; }
.pro_content .video .video_c .content .laycontent .title h1 { width:112px; height:35px; border-right:1px solid #ffffff; background-color:#45baf2; line-height:35px; text-align:center }
.pro_content .video .video_c .content .laycontent h2 { padding-left:25px; font-weight:bold; margin-top:10px; }
.pro_content .video .video_c .content .laycontent p { margin-top:15px; line-height:22px; text-indent:2em; }
.pro_content .video .video_c .content .laycontent ul { margin-top:18px; }
.pro_content .video .video_c .content .laycontent ul li { background:url(/images/pro/coin.png) left 9px no-repeat; padding-left:25px; margin-bottom:11px; }
.pro_content .video .video_c .content .laycontent table { margin:10px; }
#wrapper { position:absolute; top:242px; bottom:48px; height:797px; width:947px; left:50%; margin-left:-460px; overflow:auto; }
#scroller { margin-top:-20px; width:900px; padding-bottom:20px;}

#part .cs_name {  position:absolute;height:90px;width:8px; left:12px; top:50%; margin-top:-45px; word-wrap:break-word; }

#part .part_cslist { float:left; width:205px;  }
#part .part_cslist .jr { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; width:180px;WORD-WRAP: break-word;TABLE-LAYOUT: fixed;word-break:break-all }
#part .part_cslist .twoheight {height:34px; padding-top:10px;}
#part .part_cslist .threeheight {height:43px; padding-top:23px;}

#part .part1_cslist { float:left; width:728px;  }
#part .part1_cslist .jr { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; width:618px;WORD-WRAP: break-word;TABLE-LAYOUT: fixed;word-break:break-all }
#part .part1_cslist .twoheight {height:34px; padding-top:10px;}
#part .part1_cslist .threeheight {height:43px; padding-top:23px;}

#part ul { margin-top:0; float:left; }
#part ul li { width:135px;}
#part ul li .part_zb { }
#part ul li .part_zb p { background-color:#eeefef; padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; margin-top:0; text-indent:0; }
#part ul li .part_zb p.twoheight {height:34px; padding-top:10px;}
#part ul li .part_zb p.threeheight {height:43px; padding-top:23px;}
#part ul li .part_zb p.fourheight {height:55px; padding-top:33px;}
#part ul li .part_zb p.fiveheight {height:65px; padding-top:45px;}
#part ul li .part_cs { }
#part ul li .part_cs p { padding-left:18px; border-bottom:1px solid #b5b6b6; margin-bottom:2px; margin-top:0; text-indent:0; }

#part { width:355px; margin-top:15px; background:url(/images/pro2/key_bg.jpg) left top repeat-y; padding-left:45px; position:relative;}


#jk p { margin-top:0; text-indent:0;}

.td p{ margin-bottom:15px;}

.fenlei { width:970px; height:50px; background-color:#ffffff; margin-bottom:10px;}
.fenlei li { width:145px; height:50px; border-right:1px solid #e3e3e3; text-align:center; line-height:50px; float:left; cursor:pointer;}
.fenlei li.current { width:145px; height:50px; background:#9fa0a0; text-align:center; line-height:50px; color:#ffffff;}

#gongneng li { background:none; float:left; padding:0; padding-left:10px; padding-right:10px;}

#blackbox{background:url(/images/overlay.png) repeat 0 0; opacity:0.5; filter:alpha(opacity=50)}
#blackbox,#mainbox{position:absolute; top:0; left:0; z-index:9999;  }
#blackbox{ width:100%; height:100%; position:fixed; _position:absolute;}
#mainbox { background-color:#ffffff; position:absolute;padding:50px 50px 35px 50px;}
#leftshowbtn { width:54px; height:93px; background:url(/images/pro/btn_left.png) no-repeat; position:absolute; left:-120px; top:50%; margin-top:-46px; display:none; cursor:pointer;}
#rightshowbtn { width:54px; height:93px; background:url(/images/pro/btn_right.png) no-repeat; position:absolute;right:-120px; top:50%; margin-top:-46px; display:none; cursor:pointer;}
#mark_left { width:50px; position:absolute; height:100%; left:-50px;}
#mark_right { width:50px; position:absolute; height:100%; right:-50px;}
#closebox { width:12px; height:12px; background:url(/images/pro/btn_close.jpg) no-repeat; position:absolute; top:-30px; right:-30px; cursor:pointer;}
.newslist { width:843px;}
.newslist li  { float:left; color:#909090;}
.newslist li.type1 { width:380px; height:76px; background-color:#ffffff; border-right:1px solid #cdcdcd; padding:40px 20px;}
.newslist li.type2 { height:76px; border-top:1px solid #cdcdcd; width:800px; padding:40px 20px;border-bottom:1px solid #cdcdcd;}
.newslist li a { color:#000000;}
.newslist li a:hover { color:#f35333;}
.newslist li a time { color:#909090;}
.newslist li h1 { line-height:32px;}


.techlist { width:839px; background-color:#ffffff; overflow:hidden;} 
.techlist ul{ margin-top:-1px; width:840px;}
.techlist ul li { width:379px; height:116px; background-color:#ffffff; float:left; border-right:1px solid #cdcdcd; border-top:1px solid #cdcdcd; padding:40px 20px;}


.techlist li a { color:#000000;}
.techlist li a:hover { color:#f35333;}
.techlist ul li h1 { margin-bottom:10px;}
.techlist li a p { color:#909090;line-height:20px;}

.bd li { margin-bottom:10px;}
input.t1 { width:188px; height:28px; border:1px solid #c9c9c9;}
textarea.t2 { width:798px; height:160px; border:1px solid #c9c9c9;}

.success { color:#404040; margin-top:150px; width:100%; padding-bottom:150px;}
.success p {background:url(/images/advice/success_coin.jpg) left center no-repeat; padding-left:20px; height:32px; line-height:32px; margin:0 auto; width:400px; }
