#main { width:100%; height:1050px; margin:0 auto; overflow:hidden; position:absolute; top:0; }
#index { height:1050px; width:1680px; position:relative; left:50%; margin-left:-840px; }
#index_dl { height:1050px; width:1680px; position:absolute; z-index:999; }
#enter { width:920px; height:504px; background:url(/images/index_enter_btn.png) no-repeat; position:absolute; left:50%; margin-left:-460px; top:0; z-index:999; cursor:pointer; }
#box { width:1680px; height:1050px; margin:0 auto; overflow:hidden; position:relative; left:50%; margin-left:-840px; }
#pro { height:1050px; width:1680px; background:url(../images/bg_index_win8.jpg) no-repeat; position:absolute; z-index:89; }
#pro ul { width:930px; }
#pro ul li.MainItem { float:left; margin-right:8px; margin-bottom:8px; }
#pro ul li.m1 {
    background: url("../images/menu/menu-1.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    width: 146px;
	font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;
}
#pro ul li.m2 { width:146px; height:76px; background:url(../images/menu/menu-2.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m3 {
    background: url("../images/menu/menu-3.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    width: 146px;
	font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;
}
#pro ul li.m4 {
    background: url("../images/menu/menu-4.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    width: 146px;
	font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;
}
#pro ul li.m5 {
    background: url("../images/menu/menu-5.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    width: 300px;
	font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;
}

#pro ul li.m6 {
    background: url("../images/menu/menu-6.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    width: 300px;
	font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;
}

#pro ul li.m7 { width:300px; height:160px; background:url(../images/menu/menu-7.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m8 { width:300px; height:160px; background:url(../images/menu/menu-8.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m9 { width:146px; height:76px; background:url(../images/menu/menu-9.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m10 { width:146px; height:76px; background:url(../images/menu/menu-10.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m11 { width:146px; height:76px; background:url(../images/menu/menu-11.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m12 { width:146px; height:76px; background:url(../images/menu/menu-12.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m13 { width:146px; height:76px; background:url(../images/menu/menu-13.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m14 { width:146px; height:76px; background:url(../images/menu/menu-14.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m15 { width:146px; height:76px; background:url(../images/menu/menu-15.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li.m16 { width:146px; height:76px; background:url(../images/menu/menu-16.png) no-repeat; font-family: Microsoft YaHei, Î¢ÈíÑÅºÚ, ËÎÌå;}
#pro ul li a { overflow:hidden; display:block; color:#fff; }
#pro ul li a:active { outline: none; }
#pro ul li a:visited { outline: none; }
#pro ul li.m1 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m2 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m3 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m4 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m5 a { width:280px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m6 a { width:280px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m7 a { width:280px; height:30px; padding-left:20px; padding-top:130px; }
#pro ul li.m8 a { width:280px; height:30px; padding-left:20px; padding-top:130px; }
#pro ul li.m9 a { width:126px; height:26px; padding-left:20px; padding-top:50px; color:#585858; }
#pro ul li.m10 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m11 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m12 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m13 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m14 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m15 a { width:126px; height:26px; padding-left:20px; padding-top:50px; }
#pro ul li.m16 a { width:126px; height:26px; padding-left:20px; padding-top:50px; color:#585858; }
#pro_window { width:920px; overflow:hidden; margin:0 auto; position:relative; height:432px; }
#pro_window h2 { padding-top:7px; }
#wrap { height:1050px; width:1680px; background:url(../images/pro-1.jpg) no-repeat; position:absolute; z-index:87; left:1680px; }
#pro_list { width:875px; overflow:hidden; margin:0 auto; }
#wrap ul.list { width:885px; }
#wrap ul.list li { width:224px; height:120px; float:left; margin-right:8px; margin-bottom:8px; }
p.c_main a { width:64px; height:64px; background:url(../images/btn3.png) center center no-repeat; _background:url(/images/btn3.gif) center center no-repeat; display:inline; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
p.c_main a:hover { width:64px; height:64px; background:url(/images/btn3_h.png) center center no-repeat; _background:url(/images/btn3_h.gif) center center no-repeat; display:inline; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
p.c_back a { width:64px; height:64px; background:url(../images/btn4.png) center center no-repeat; _background:url(/images/btn4.gif) center center no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; }
p.c_back a:hover { width:64px; height:64px; background:url(../images/btn4_h.png) left bottom no-repeat; _background:url(/images/btn4_h.gif) left bottom no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; }
p.c_trans a.c1 { width:64px; height:64px; background:url(/images/btn2.png) center center no-repeat; _background:url(/images/btn2.gif) center center no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
p.c_trans a.c1:hover { width:64px; height:64px; background:url(/images/btn2_h.png) left bottom no-repeat; _background:url(/images/btn2_h.gif) left bottom no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
p.c_trans a.c2 { width:64px; height:64px; background:url(/images/btn1.png) center center no-repeat; _background:url(/images/btn1.gif) center center no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
p.c_trans a.c2:hover { width:64px; height:64px; background:url(/images/btn1_h.png) left bottom no-repeat; _background:url(/images/btn1_h.gif) left bottom no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
p.c_email a { width:50px; height:50px; background:url(/images/about/btn_email_index.png) no-repeat; display:block; text-indent:-999em; overflow:hidden; float:right; margin-right:13px; }
#wrap { width:1680px; height:1050px; background:url(../images/bg_level2.jpg) no-repeat; position:absolute; left:1680px; }
#wrap #pro_list { width:920px; margin:0 auto; position:relative; }
#wrap #pro_list h2 { padding-top:10px; }
#wrap #pro_list ul { margin-top:30px; position:relative; width:930px; }
#wrap #pro_list ul li { float:left; margin-right:8px; display:inline; margin-bottom:8px; }
#wrap #pro_list ul li ul li { float:none; margin:0; display:block; }
#wrap #pro_list ul li ul li a { color:#fff; padding:0; }
#wrap #pro_list ul li ul li a:hover { color:#fff; padding:0; text-decoration:underline; }
#wrap #pro_list ul li.m1 { width:224px; height:120px; background:url(../images/law/m1.jpg) no-repeat; }
#wrap #pro_list ul li.m2 { width:224px; height:120px; background:url(../images/law/m2.jpg) no-repeat; }
#wrap #pro_list ul li.m3 { width:224px; height:120px; background:url(../images/law/m3.jpg) no-repeat; }
#wrap #pro_list ul li.m4 { width:224px; height:120px; background:url(../images/law/m4.jpg) no-repeat; }
#wrap #pro_list ul li.m5 { width:224px; height:120px; background:url(../images/law/m5.jpg) no-repeat; }
#wrap #pro_list ul li.m6 { width:224px; height:120px; background:url(../images/law/m6.jpg) no-repeat; }
#wrap #pro_list ul li.m7 { width:224px; height:120px; background:url(../images/law/m7.jpg) no-repeat; }
#wrap #pro_list ul li.m8 { width:224px; height:120px; background:url(../images/law/m8.jpg) no-repeat; }
#wrap #pro_list ul li a { color:#fff; width:207px; height:24px; display:block; padding-top:96px; padding-left:15px; }
#wrap #pro_list ul li span { position:relative; }
#wrap #pro_list ul li:active { -moz-transform:scale(0.9); -moz-transition:.5s;
-webkit-transform:scale(0.9); -webkit-transition:.5s;
transform:scale(0.9); transition:.5s;
}
#bzQuery { width:1680px; height:1050px; background:url(../images/bg_level2_blue.jpg) no-repeat; position:absolute; left:1680px; }
#bzQuery #pro_list { width:920px; margin:0 auto; position:relative; }
#bzQuery #pro_list h2 { padding-top:10px; }
#bzQuery #pro_list #leftside { float: left; margin-top: 20px; width: 320px; display: block; padding: 0; }
#bzQuery #pro_list #leftside h1.image { display: block; height: 246px; overflow: hidden; padding-top: 244px; position: relative; width: 320px; text-align: center; }
#bzQuery #pro_list #leftside h1 span { margin-left: 0px;}
#bzQuery #pro_list #rightside { float: right; margin-top: 20px; position: relative; width: 580px; height: 580px; }
#bzQuery #pro_list #rightside iframe { overflow-x:hidden; overflow-y:auto; scrolling: auto; background-color: transparent; }

#formDown { width:1680px; height:1050px; background:url(../images/bg_level2_blue.jpg) no-repeat; position:absolute; left:1680px; }
#formDown #pro_list { width:920px; margin:0 auto; position:relative; }
#formDown #pro_list h2 { padding-top:10px; }
#formDown #pro_list #leftside { float: left; margin-top: 20px; width: 320px; display: block; padding: 0; }
#formDown #pro_list #leftside h1.image { display: block; height: 246px; overflow: hidden; padding-top: 244px; position: relative; width: 320px; text-align: center; }
#formDown #pro_list #leftside h1 span { margin-left: 0px; color: black; }
#formDown #pro_list #rightside { float: right; margin-top: 20px; position: relative; width: 580px; height: 580px; }
#formDown #pro_list #rightside ul li { font-size: 16px; background: none repeat scroll 0 0 #C0392B; width: 470px; font-family: ËÎÌå;
height: 28px;
margin: 8px;
padding: 8px;
text-decoration: none;}
#formDown #pro_list #rightside ul li span  a { color: white; }

#aboutUs { width:1680px; height:1050px; background:url(../images/bg.jpg) no-repeat; position:absolute; left:1680px; }
#aboutUs #pro_list { width:920px; margin:0 auto; position:relative; }
#aboutUs #pro_list h2 { padding-top:10px; }
#aboutUs #pro_list #leftside { float: left; margin-top: 20px; width: 320px; display: block; padding: 0; }
#aboutUs #pro_list #leftside h1.image { display: block; height: 246px; overflow: hidden; padding-top: 244px; position: relative; width: 320px; text-align: center; }
#aboutUs #pro_list #leftside h1 span { margin-left: 0px; color: black; }
#aboutUs #pro_list #rightside { float: right; margin-top: 20px; position: relative; width: 580px; height: 580px; }
#aboutUs #pro_list #rightside ul li { font-size:20px; }
#aboutUs #pro_list #rightside ul li span  a { color: white; }

#board { width:1680px; height:1050px; background:url(../images/bg_level2_blue.jpg) no-repeat; position:absolute; left:1680px; }
#board #pro_list { width:920px; margin:0 auto; position:relative; }
#board #pro_list h2 { padding-top:10px; }
#board #pro_list #leftside { float: left; margin-top: 20px; width: 320px; display: block; padding: 0; }
#board #pro_list #leftside h1.image { display: block; height: 246px; overflow: hidden; padding-top: 244px; position: relative; width: 320px; text-align: center; }
#board #pro_list #leftside h1 span { margin-left: 0px; color: black; }
#board #pro_list #rightside { float: right; margin-top: 20px; position: relative; width: 580px; height: 580px; }
#board #pro_list #rightside div.scrollBox { clear: both; height: 490px; overflow: hidden; }
#board #pro_list #rightside ul li { font-size:20px; }
#board #pro_list #rightside ul li span  a { color: white; }

#solve { width:1680px; height:1050px; background:url(/images/about/bg.jpg) no-repeat; position:absolute; left:1680px;z-index:89; }
#solve .solve_list { width:920px; margin:0 auto; position:relative; }
#solve .solve_list ul { margin-top:20px; position:relative; width:930px; }
#solve .solve_list ul li { float:left; margin-right:8px; display:inline; margin-bottom:8px; }
#solve .solve_list ul li ul li { float:none; margin:0; display:block; }
#solve .solve_list ul li ul li a { color:#fff; padding:0; }
#solve .solve_list ul li ul li a:hover { color:#fff; padding:0; text-decoration:underline; }
#solve .solve_list ul li.m1 { width:222px; height:120px; background:url(/images/solve/m1.jpg) no-repeat; }
#solve .solve_list ul li.m2 { width:222px; height:120px; background:url(/images/solve/m2.jpg) no-repeat; }
#solve .solve_list ul li.m3 { width:222px; height:120px; background:url(/images/solve/m3.jpg) no-repeat; }
#solve .solve_list ul li.m4 { width:222px; height:120px; background:url(/images/solve/m4.jpg) no-repeat; }
#solve .solve_list ul li.m5 { width:222px; height:120px; background:url(/images/solve/m5.jpg) no-repeat; }
#solve .solve_list ul li.m6 { width:222px; height:120px; background:url(/images/solve/m6.jpg) no-repeat; }
#solve .solve_list ul li a { color:#fff; width:207px; height:24px; display:block; padding-top:96px; padding-left:15px; }
#solve .solve_list ul li span { position:relative; }
#solve .solve_list ul li:active { -moz-transform:scale(0.9); -moz-transition:.5s;
-webkit-transform:scale(0.9); -webkit-transition:.5s;
transform:scale(0.9); transition:.5s;
}
#solve .solve_list h2 { padding-top:10px; }
#about { width:1680px; height:1050px; background:url(/images/about/bg.jpg) no-repeat; position:absolute; left:1680px;z-index:89; }
#about .about_list { width:920px; margin:0 auto; position:relative; }
#about .about_list ul { margin-top:30px; position:relative; width:930px; }
#about .about_list ul li { float:left; margin-right:8px; display:inline; margin-bottom:8px; }
#about .about_list ul li ul li { float:none; margin:0; display:block; }
#about .about_list ul li ul li a { color:#fff; padding:0; }
#about .about_list ul li ul li a:hover { color:#fff; padding:0; text-decoration:underline; }
#about .about_list ul li.m1 { width:222px; height:120px; background:url(/images/about/m1.jpg) no-repeat; }
#about .about_list ul li.m2 { width:222px; height:120px; background:url(/images/about/m2.jpg) no-repeat; }
#about .about_list ul li.m3 { width:222px; height:120px; background:url(/images/about/m3.jpg) no-repeat; }
#about .about_list ul li.m4 { width:222px; height:120px; background:url(/images/about/m4.jpg) no-repeat; }
#about .about_list ul li.m5 { width:222px; height:120px; background:url(/images/about/m5.jpg) no-repeat; }
#about .about_list ul li.m6 { width:426px; height:80px; background:url(/images/about/m6.jpg) no-repeat; overflow:hidden; }
#about .about_list ul li.m7 { width:686px; height:120px; background:url(/images/about/m7.jpg) no-repeat; }
#about .about_list ul li.m7 section { width:280px; height:31px; overflow:hidden; }
#about .about_list ul li a { color:#fff; width:207px; height:24px; display:block; padding-top:96px; padding-left:15px; }
#about .about_list ul li span { position:relative; }
#about .about_list ul li:active { -moz-transform:scale(0.9); -moz-transition:.5s;
-webkit-transform:scale(0.9); -webkit-transition:.5s;
transform:scale(0.9); transition:.5s;
}
#about .about_list h2 { padding-top:10px; }
#loading { position:absolute; z-index:9999; width:100%; height:100%; }
.loadingbg { width:925px; height:64px; position:absolute; background:url(../images/loading1.gif) center center no-repeat; top:50%; left:50%; margin-left:-480px; margin-top:-26px; padding-left:18px; padding-top:18px; }

